/* General elements
*/

html {
    width: 100%;
    height: 100%;
}

body {
    color: white;
}

#background {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgb(35,7,35);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMyMzA3MjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDcwNzIzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(center, ellipse cover, rgba(35,7,35,1) 0%, rgba(3,3,28,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(35,7,35,1)), color-stop(100%,rgba(3,3,28,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(35,7,35,1) 0%,rgba(3,3,28,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(35,7,35,1) 0%,rgba(3,3,28,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(35,7,35,1) 0%,rgba(3,3,28,1) 100%);
    background: radial-gradient(ellipse at center, rgba(35,7,35,1) 0%,rgba(3,3,28,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#230723', endColorstr='#070723',GradientType=1 );
}


/* Section 1 (main)
*/

h1 {
    text-shadow: 0 0 7px rgba(210,210,255,.77);
}

select {
    font-size: 1em;
    display: none;
}

select.visible {
    display: inline;
}

select.hidden + span {
    display: none !important;
}

#sec_main {
    padding: 14px;
    font-size: 2.1em;
}

#pluralizer {
    margin: 0 3px 0 -7px;
    font-size: 70%;
}

#are {
    display: inline-block;
    padding: 0 0 .21em 0;
    border: solid white;
    border-width: 1px 0;
    font-size: .77em;
    font-style: italic;
    line-height: .84em;
}

#main_blurb {
    margin: 1.4em auto .35em auto;
    width: 77%;
    min-width: 490px;
}

#sec_main hr {
    margin-top: 1.4em;
    margin-bottom: 1.17em;
    width: 49px;
}
